# Swasthya Suchak Environment Variables
# Copy this file to .env and fill in your actual values

# Required read README
GROQ_API_KEY=your_groq_api_key_here


# Get from https://console.twilio.com ( Without Twilio credentials, WhatsApp bot won't work but the web app will work fine)
TWILIO_ACCOUNT_SID=your_twilio_account_sid_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here

# Required for WhatsApp bot tunneling
# Get from https://dashboard.ngrok.com/get-started/your-authtoken
NGROK_AUTH_TOKEN=your_ngrok_auth_token_here